<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="DebugLog" fileName="logs/debug.log" append="true">
            <PatternLayout><Pattern>%d|%X{id}|%X{statusCode}|%X{statusDesc}|%X{hewanId}|%X{nama}|%X{jumlah}%n</Pattern></PatternLayout>
        </File>
        <Console name="RootConsole" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="debugger" level="debug" additivity="false">
            <AppenderRef ref="DebugLog" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="RootConsole"/>
        </Root>
    </Loggers>
</Configuration>